@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --font-color-clara:#dbdbdb;
    --color-1:#121330;

    --color-2:#090C3A;
    --color-3:#131649;
    --color-4:#25d1f0;
    --color-5:#F363B4;
    --color-5-shadow:#7c2263;
    --color-6:#3C3E73;
    --color-7:#14163C;
}
.pd-geral{
    padding: 125px 15% 150px 15%;
    
}
/*HEADER nav*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15%;

}
.navLinks li{
    display: inline-block;
    padding: 0px 10px;
    text-transform: uppercase;
}
.navLinks li a{
    text-decoration: none;
    color:var(--font-color-clara);
    position: relative;
    font-size: 16px;
    font-weight: 200;
    transition:  0.5s ;
   
}
.navLinks li a:hover {
    color:var(--color-5);
    transition:  0.5s ;
  }
.navLinks li a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -7px;
    left: 0px;
    transform: scaleX(0);
    background: var(--color-5) ;
    transform-origin: bottom right;
    transition: transform 0.5s ease;
  }
.navLinks li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
.logo{
    font-size: 30px;
    cursor: pointer;
    font-family: 'Press Start 2P';
    font-weight: 500;
    color: var(--font-color-clara);
    transition:  0.8s ;
}
.logo:hover{
    color: var(--color-5);
    transition:  0.4s ;
    text-shadow: -3px 3px 0 var(--color-5-shadow);;
}

/*Section banner*/

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 290px 0px 230px 0px;
    background-image:linear-gradient(0deg, rgba(9,12,58,1) 0%, rgba(14,16,55,0.7) 76%, rgba(60,62,115,0.6) 100%), 
                    url("../img/bannerGameDevelopment.jpeg") ; 
    background-size: cover;
    background-position: center;
    color: var(--color-5);
    margin-top: -70px;
    text-align: center;
    
}
.banner h1{
    font-family: 'Press Start 2P';
    font-size: 45px;
    font-weight: 500;
    text-shadow:-3px 3px 0 var(--color-5-shadow);
    padding-bottom: 150px;
}
.banner h2{
    font-family: 'Press Start 2P';
    font-size: 30px;
    font-weight: 500;
    text-shadow:-2px 2px 0 var(--color-5-shadow);
    padding-bottom: 50px;
}
.contatoButton{
    position: relative;
    text-align: center;
}
.contatoButton a{
    text-decoration: none;
    z-index: 1;
    cursor: pointer;
    background-color: #0fd1eb;
    border: none;
    color: var(--color-1);
    font-size: 25px;
    border-radius: 5px;
    font-weight: 600;
    padding: 20px 40px;
    position: relative;
    box-shadow: inset 0 1px 0 #abf0ff, 0 10px 0 #0799b9;
    
}
.contatoButton a:active{
    top: 6px;
    background-color: #0db4ca;
    box-shadow: inset 0 1px 0 #abf0ff, 0 4px 0 #0799b9;
}
.contatoButton::after{
    content: " ";
    height: 68px;
    width: 100%;
    padding: 4px;
    position: absolute;
    bottom: -37px;
    left: -4px;
    z-index: 0;
    background-color: #b8bcbd;
    border-radius: 4px;
}
.contatoButton a i{
    padding-left: 25px;
}
/*Section Titles*/
h1.titleSection{
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 30px;
    font-weight: 500;
    color: var(--color-5);
    text-shadow:-3px 3px 0 var(--color-5-shadow);
    text-transform: uppercase;
    padding-bottom: 15px;
}
h3.descriptionTitle{
    text-align: center;
    font-style: italic;
    font-size: 18px;
    color: #dbdbdb;
}
/*Section Nossos_Servicos*/
#Nossos_Servicos{
    background-color: var(--color-2);
}
.containServicos{

    padding: 50px  0px 0px 0px;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit,minmax(min(100% , 150px),1fr));
}
.servico{
    padding: 20px 15px 40px 15px;
    text-align: center;
    background-color:#3C3E73 ;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -7px 8px 0px 0px rgba(34,38,115,1);
}
.servico h1{
    color: var(--color-1);
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 20px;
}
.servico p{
    color: var(--font-color-clara);
    font-size: 16px;
    line-height: 20px;
    
}
.imgServico{
    background-color: var(--color-4);
    margin-bottom: 30px;
    border-radius: 100%;
    border: 5px solid #0799b9;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    
}
.imgServico img{
    max-width: 70%;
    max-height: 100%;
}
/*Section portifolios*/
#portifolios{
    background-color: var(--color-3);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portifoliosGallery{
    padding-top: 50px;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
}

.imgPort{
    width: 100%;
    border-radius:  5px 5px 0px 0px;
    object-fit: cover;
    
}
.cardPortifolio{
    background-color: var(--color-6);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 7px solid #1e1e38
    ;
    border-radius: 5px;
    transition: 0.5s;
    gap: 10px;
    padding: 10px;
    
}

.cardPortifolio:hover{
    transition: 0.5s;
    box-shadow: rgb(34, 38, 115) 0px 7px 10px 3px;
    scale: 1.05;

}
.cardPortifolio article{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    text-align: justify;
    padding: px;
    background: #5255a1;
    border-radius:  0px 0px 5px 5px;
}
.cardPortifolio article h1{
    color: var(--color-1);
    font-size: 20px;
    padding: 10px;
    font-weight: 600;
}
.cardPortifolio article p{

    color: var(--font-color-clara);
    font-size: 14px;
    padding: 10px 10px 20px 10px;
}
/*Section sobre*/
#sobre{
    background-color: var(--color-2);
}
/*Section time*/
#time{
    background-color: var(--color-3);
}
/*Section clientes*/
#clientes{
    background-color: var(--color-2);
    padding: 25px 15% 25px 15%;
    

}
/*Section contato*/
#contato{
    background-color: var(--color-3);
}
.divClientes{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(100% , 150px),1fr));
    justify-items: center;
    align-items: center;
}
.divClientes div img{
    width: 80%;
}
.divClientes div{
    display: flex;
    justify-content: center;
}
/*Footer*/
.footer{
    background-color: var(--color-2);
    padding: 0px 15%;
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.divCopyrigth{
    color: var(--font-color-clara);
    display: flex;
    align-items: center;
    

}
.divRedesSociais {
    display: flex;
    align-items: center;
    gap: 20px;

    
}
.divRedesSociais a{
    padding: 5px;
    border: 1px solid #dbdbdb00;
    border-radius: 5px;
    transition: 0.5s;

}
.divRedesSociais a:hover {

    border: 1px solid var(--font-color-clara);
    border-radius: 100%;
    transition: 0.9s;
}
.twiter, .linkedin, .instagram{
    width: 30px;
    
}
.divTerms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.divTerms  a{
    cursor: pointer;
    color: var(--font-color-clara);
    text-decoration: none;
}
.divTerms a:hover{
    color: var(--color-4);
}

@media (max-width: 1200px) {
    /*Footer media query*/
    .footer{
        padding:20px 0px ;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
  }