@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --font-color-clara:#dbdbdb;
    --font-color-clara-shadow:#919191;
    --color-1:#121330;
    --color-2:#090C3A;
    --color-3:#131649;
    --color-4:#25d1f0;
    --color-5:#F363B4;
    --color-5-shadow:#7c2263;
    --color-6:#3C3E73;
    --color-7:#14163C;
}
.pd-geral{
    padding: 125px 15% 150px 15%;
    
}
/*HEADER nav*/
header{
    border-bottom: 1px solid var(--font-color-clara);
    background-color: #25d2f015;
    position: fixed;
    display: flex;
    justify-content:space-around ;
    align-items: center;
    flex-wrap: wrap;
    gap: 15%;
    padding: 20px 0%;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(15px) ;
    z-index: 999;

}
.navLinks{
    display: flex;
    gap: 1rem;
}
.navLinks li{
    display: inline;
    text-transform: uppercase;
}
.navLinks li a{
    text-decoration: none;
    color:var(--font-color-clara);
    position: relative;
    font-size: 0.8rem;
    font-weight: 500;
    transition:  0.5s ;
   
}
.navLinks li a:hover {
    color:var(--color-5);
    transition:  0.5s ;
  }
.navLinks li a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -7px;
    left: 0px;
    transform: scaleX(0);
    background: var(--color-5) ;
    transform-origin: bottom right;
    transition: transform 0.5s ease;
  }
.navLinks li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
.logo{
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
    font-family: 'Press Start 2P';
    font-weight: 500;
    color: var(--font-color-clara);
    transition:  0.8s ;
}
.logo:hover{
    color: var(--color-5);
    transition:  0.4s ;
    text-shadow: -3px 3px 0 var(--color-5-shadow);;
}

/*Section banner*/

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 280px 0px 220px 0px;
    background-image:linear-gradient(0deg, rgba(9,12,58,1) 0%, rgba(14,16,55,0.7) 76%, rgba(60,62,115,0.6) 100%), 
                    url("../img/bannerGameDevelopment.jpeg") ; 
    background-size: cover;
    background-position: center;
    color: var(--color-5);

    text-align: center;
    
}
.banner h1{
    font-family: 'Press Start 2P';
    font-size: 2.5rem;
    font-weight: 500;
    text-shadow:-3px 3px 0 var(--color-5-shadow);
    padding-bottom: 150px;
}
.banner h2{
    font-family: 'Press Start 2P';
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow:-2px 2px 0 var(--color-5-shadow);
    padding-bottom: 50px;
}
.contatoButton{
    position: relative;
    text-align: center;
}
.contatoButton a{
    text-decoration: none;
    z-index: 1;
    cursor: pointer;
    background-color: #0fd1eb;
    border: none;
    color: var(--color-1);
    font-size: 25px;
    border-radius: 5px;
    font-weight: 600;
    padding: 20px 40px;
    position: relative;
    box-shadow: inset 0 1px 0 #abf0ff, 0 10px 0 #0799b9;
    
}
.contatoButton a:active{
    top: 6px;
    background-color: #0db4ca;
    box-shadow: inset 0 1px 0 #abf0ff, 0 4px 0 #0799b9;
}
.contatoButton::after{
    content: " ";
    height: 68px;
    width: 100%;
    padding: 4px;
    position: absolute;
    bottom: -37px;
    left: -4px;
    z-index: 0;
    background-color: #b8bcbd;
    border-radius: 4px;
}
.contatoButton a i{
    padding-left: 25px;
}
/*Section Titles*/
h1.titleSection{
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-5);
    text-shadow:-3px 3px 0 var(--color-5-shadow);
    text-transform: uppercase;
    padding-bottom: 15px;
}
h3.descriptionTitle{
    text-align: center;
    font-style: italic;
    font-size: 1.1rem;
    color: #dbdbdb;
}
/*Section Nossos_Servicos*/
#Nossos_Servicos{
    background-color: var(--color-2);
}
.containServicos{

    padding: 50px  0px 0px 0px;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit,minmax(min(100% , 150px),1fr));
}
.servico{
    padding: 20px 15px 40px 15px;
    text-align: center;
    background-color:#3C3E73 ;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -7px 8px 0px 0px rgba(34,38,115,1);
}
.servico h1{
    color: var(--color-1);
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 20px;
}
.servico p{
    color: var(--font-color-clara);
    font-size: 16px;
    line-height: 20px;
    
}
.imgServico{
    background-color: var(--color-4);
    margin-bottom: 30px;
    border-radius: 100%;
    border: 5px solid #0799b9;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    
}
.imgServico img{
    max-width: 70%;
    max-height: 100%;
}
/*Section portifolios*/
#portifolios{
    background-color: var(--color-3);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portifoliosGallery{
    padding-top: 50px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
    justify-items: center;
}

.imgPort{
    width: 100%;
    border-radius:  5px 5px 0px 0px;
    object-fit: cover;
    
}
.cardPortifolio{
    background-color: var(--color-6);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 7px solid #1e1e38;
    border-radius: 5px;
    transition: 0.5s;
    gap: 10px;
    padding: 10px;
    justify-items: center;
    max-width: 80%;
    
}

.cardPortifolio:hover{
    transition: 0.5s;
    box-shadow: rgb(34, 38, 115) 0px 7px 10px 3px;
    scale: 1.05;

}
.cardPortifolio article{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    text-align: justify;
    padding: px;
    background: #5255a1;
    border-radius:  0px 0px 5px 5px;
}
.cardPortifolio article h1{
    color: var(--color-1);
    font-size: 1.25rem;
    padding: 0.8px;
    font-weight: 600;
}
.cardPortifolio article p{

    color: var(--font-color-clara);
    font-size: 14px;
    padding: 10px 10px 20px 10px;
    line-height: 1.2rem;
}
/*Section sobre*/
#sobre{
    background-color: var(--color-2);

}

.timeline{
    position: relative;
    max-width:100%;
    margin: 50px auto;

}
.containerTimeline{
    position: relative;
    padding: 10px 50px;
    width: 50%;
    box-sizing: border-box ;
}
.divText h1{
    color: var(--color-5);
    font-family: 'Press Start 2P';
    font-size: 1.3rem;
    text-shadow:-3px 3px 0 var(--color-5-shadow);
    line-height: 2rem;

}
.divText p{
    color: var(--font-color-clara);
    font-size: 0.9rem;
    padding-top: 10px;
    line-height: 1.2rem;
    text-align: justify;
}
.divText{
    padding: 20px 30px;
    background-color: var(--color-6);
    border-radius: 6px;
}
.left-container{
    left: 0;
}
.right-container{
    left: 50%;
}
.containerTimeline img{
    position: absolute;
    width: 45px;
    right: -22px;    
    top:32px;
    z-index: 10;
}
.right-container img{
    left: -23px;
}
.containerTimeline .last-ball{
    position: absolute;
    width: 45px;
    right: -22px;    
    top:0px;
    z-index: 10;
}

.timeline::after{
    content:' ';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: var(--color-6);
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 1;
}
.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 38px;
    z-index: 1;
    border-top:15px solid transparent;
    border-bottom:15px solid transparent;
    border-left:15px solid var(--color-6);
    right: 36px;
}
.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 38px;
    z-index: 1;
    border-top:15px solid transparent;
    border-bottom:15px solid transparent;
    border-right:15px solid var(--color-6);
    left: 36px;
}
@media screen and (max-width:1200px) {
    .timeline::after{
        left: 0px;
    }
    .containerTimeline{
        width: 100%;
        padding: 0px 20px 0px 50px;
    }
    .containerTimeline:nth-last-child(1){
        display: none;
    }
    .divText{
        margin: 20px 0px;
    }
    .right-container{
        left: 0;
    }
    .left-container img, .right-container img , .last-ball{
        left: -22px;
    }
    .left-container-arrow , .right-container-arrow{
       border-right: 15px solid var(--color-6);
       border-left: 0;
       left: 35px; 

    }
}
/*Section time*/
#time{
    background-color: var(--color-3);
}
.divEquipe{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:40px;
    padding: 50px 0px 0px 0px;
}
.membro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 30%;
    min-width: 250px;
    color: var(--font-color-clara);
    box-shadow: 0px 0px 23px 4px rgba(0,0,0,0.49);
    padding: 30px 0px ;
    border-radius: 15px;
}


.fotoMembro{
    width: 80%;
}
.fotoMembro img{
    border-radius: 100%;
    width: 100%;
}
.nomeFuncao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.nomeFuncao h1{
    font-size: 22px;
}

.nomeFuncao h2{
    font-size: 16px;
    color: var(--color-4);
}

.redesMembro{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
a i {
    transition: all 0.3s linear;
}

.redesMembro a:hover i {
    transform: scale(1.5);
    cursor: pointer;
}

.facebook:hover {
    color: blue;
}

.instagram:hover {
    color: #e11d74;
}

.twitter:hover {
    color: #00adb5;
}

/*Section clientes*/
#clientes{
    background-color: var(--color-2);
    padding: 25px 15% 25px 15%;
}
.divClientes{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(100% , 150px),1fr));
    justify-items: center;
    align-items: center;
}
.divClientes div img{
    width: 80%;
}
.divClientes div{
    display: flex;
    justify-content: center;
}
/*Section contato*/
#contato{
    background-color: var(--color-3);
}
.formContato{
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.inputs{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.inpNome, .inpEmail, .inpNum, .aMsg{
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: var(--color-1);
    font-family: 'Roboto Slab',serif;
}
.inputs input:focus , .inputs textarea:focus{
    
    outline: 3px solid var(--color-5);
    box-shadow: 0px 7px 15px 9px rgba(243,99,180,0.5);
}

.inputs input::placeholder{
    font-family: 'Roboto Slab',serif;
    color: var(--font-color-clara);
}
.inputs textarea::placeholder{
    font-family: 'Roboto Slab',serif;
    color: var(--font-color-clara);
}
.aMsg{
  grid-column: 2;  
  grid-row: 1/4;
}
.b-formContato{
    text-align: center;
}
.bContato{
    z-index: 1;
    cursor: pointer;
    background-color: #0fd1eb;
    border: none;
    color: var(--color-1);
    font-size: 1rem;
    border-radius: 5px;
    font-weight: 600;
    padding: 10px 20%;
    position: relative;
    box-shadow: inset 0 1px 0 #abf0ff, 0 10px 0 #0799b9;
    
}
.bContato:active{
    top: 6px;
    background-color: #0db4ca;
    box-shadow: inset 0 1px 0 #abf0ff, 0 4px 0 #0799b9;
}
@media (max-width: 700px) {
    .inputs{
        
        grid-template-columns: repeat(1,1fr);
    }
    .aMsg{
        grid-column: 1; 
        grid-row:4;
      }
  }
/*Footer*/
.footer{
    background-color: var(--color-2);
    padding: 0px 15%;
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.divCopyrigth{
    color: var(--font-color-clara);
    display: flex;
    align-items: center;
    

}
.divRedesSociais {
    display: flex;
    align-items: center;
    gap: 20px;

    
}
.divRedesSociais a{
    padding: 5px;
    border: 1px solid #dbdbdb00;
    border-radius: 5px;
    transition: 0.5s;

}
.divRedesSociais a:hover {

    border: 1px solid var(--font-color-clara);
    border-radius: 100%;
    transition: 0.9s;
}
.twiter, .linkedin, .instagram{
    width: 30px;
    
}
.divTerms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.divTerms  a{
    cursor: pointer;
    color: var(--font-color-clara);
    text-decoration: none;
}
.divTerms a:hover{
    color: var(--color-4);
}

@media screen and (max-width: 1200px) {
    /*Footer media query*/
    .footer{
        padding:20px 0px ;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
  }
  @media screen and (max-width: 1024px)  {
    /*titulos e subtitulos*/
    h1.titleSection{
        font-size: 1.75rem;
        
    }
    h3.descriptionTitle{
        font-size: 1rem;
    }
    /* padding geral da pagina */
    .pd-geral{
        padding: 75px 15% 100px 15%;
    }
    /* banner */
    .banner{
        padding: 180px 10% 130px 10%;
    }
    .banner h1{
        font-size: 2.25rem;
        padding-bottom: 100px;
    }
    .banner h2{
        font-size: 1.25rem;
    }
  }
  @media screen and (max-width: 640px)  {
    /*titulos e subtitulos*/
    h1.titleSection{
        font-size: 1.25rem;
        
    }
    h3.descriptionTitle{
        font-size: 0.8rem;
    }
    /* padding geral da pagina */
    .pd-geral{
        padding: 75px 15% 100px 15%;
    }
    /* banner */
    .banner{
        padding: 180px 10% 130px 10%;
    }
    .banner h1{
        font-size: 1.8rem;
        padding-bottom: 100px;
    }
    .banner h2{
        font-size: 1rem;
    }
    /* header */
    .logo{
        margin-bottom: 10px;
        font-size: 1.25rem;
    }
    .navLinks{
        gap: 1rem;
        
    }
    .navLinks li a{
        font-size: 10px;
    }
    /*portifolio*/
    .cardPortifolio article h1{
        font-size: 1rem;
        font-weight: 600;
    }
    .cardPortifolio article p{
        font-size: 0.7rem;
        line-height: 1rem;
    }
    /* timeline */
    .divText h1{
        font-size: 0.9rem;
        line-height: 1.3rem;
    
    }
    .divText p{
        font-size: 0.8rem;
        padding-top: 10px;
        line-height: 1.2rem;
    }
  }

