@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root{
    --font-color-clara:#dbdbdb;
    --color-1:#010326;
    --color-2:#3C3E73;
    --color-3:#6376AE;
    --color-4:#54E0FF;
    --color-5:#F363B4;
}
.pd-geral{
    padding-left: 15%;
    padding-right: 15%;
}
/*HEADER*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--color-1);  
    padding: 20px 15%;

}
.navLinks li{
    display: inline-block;
    padding: 0px 10px;
}
.navLinks li a{
    text-decoration: none;
    color:var(--font-color-clara);
    position: relative;
    font-size: 16px;
   
}
.navLinks li a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -7px;
    left: 0px;
    transform: scaleX(0);
    background: var(--font-color-clara) ;
    transform-origin: bottom right;
    transition: transform 0.5s ease;
  }
.navLinks li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.logo{
    font-size: 30px;
    font-weight: 500;
    color: var(--font-color-clara);
}
.banner{
    background-color: rgb(0, 219, 146);
    
}
